@using MUP_test.Models
<div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Список заявок</li>
    </ol>
</div>
<div class="row">    
    <div class="col col-md-2"     @*style="background-color:gray"*@>
        <div>
            <h4 >Фильтры:</h4>
        </div>
        <div>
            <div><h5>Статусы заявки:</h5></div>
            <div>
                <ul class="list-none">
                    <li><label><input type="checkbox" id="status_0" value="0" checked />Открыта</label></li>
                    <li><label><input type="checkbox" id="status_1" value="1" checked />Решена</label></li>
                    <li><label><input type="checkbox" id="status_2" value="2" checked />Возврат</label></li>
                    <li><label><input type="checkbox" id="status_3" value="3" checked />Закрыта</label></li>
                </ul>
                
            </div>
        </div>
        <div>
            <div><h5>Период времени:</h5></div>
            <div>
                @{
                    DateTime finish = DateTime.Now;
                    DateTime start = finish.AddDays(-30.0);
                }
               <div><label> С<input type="date" id="start-period" value="@start.ToString("yyyy-MM-dd")"/></label></div>
               <div><label>по<input type="date" id="finish-period" value="@finish.ToString("yyyy-MM-dd")" /></label></div>
                            

            </div>
        </div>
        <div class="p-">
            <button id="btn_filter" class="btn btn-primary">Обновить</button>
        </div>
    </div>    
    
    <div class="col col-md-10">
        <div>
            @Html.ActionLink("Открыть заявку", "Create", "Request",null,new { @class="btn btn-primary" })
        </div>
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thread-dark">
                    <tr>
                        <th scope="col">№ Заявки</th>
                        <th scope="col">Текст заявки</th>
                        <th scope="col">Дата открытия</th>
                        <th scope="col">Текущее состояние</th>                       
                    </tr>
                </thead>
                <tbody id="filter_test"></tbody>
            </table>

        </div>
    </div>
    

    <script type="text/javascript">

        function getStatusName(status) {
            const sts = [@Html.Raw(StatusUtils.getJSArray()) ];

                return sts[status];
        }

        function getActionRequest(id) {
            return `<a href="@Url.Action("Update","Request")\\${id}">${new Intl.NumberFormat('ru-RU', { minimumIntegerDigits: 6 }).format(id)}</a>`;
        }

        $(document).ready(function () {
            $("#btn_filter").click(function () {
                    const $filter_body = $("#filter_test");
                    const $btn = $(this);

                $filter_body.empty();
                $btn.prop("disabled", true);

                    const filt = [];

                    if ($("#status_0").prop("checked"))
                        filt.push(0);

                    if ($("#status_1").prop("checked"))
                        filt.push(1);

                    if ($("#status_2").prop("checked"))
                        filt.push(2);

                    if ($("#status_3").prop("checked"))
                        filt.push(3);


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RequestList")",
                    data: {
                        statuses: filt,
                        start: $("#start-period").val(),
                        finish: $("#finish-period").val()
                    },
                    dataType: "json",
                    cache: false,
                    traditional: true,
                    success: function (data) {
                        data.requests.forEach(r => {
                            const dt = new Date(r.reqCreateTime);

                            $filter_body.append(`<tr><td>${getActionRequest(r.reqID)}</td >
                                                    <td>${r.reqText}</td><td>${dt.toLocaleDateString("ru")}</td>
                                                    <td>${getStatusName(r.curStatus)}</td></tr>`)
                        });
                    },
                    complete: function () {
                        $btn.prop("disabled", false);
                    }
                });

            })
            .click();
        });
    </script>
</div>